// Fonts //

$primary-font: "Big Shoulders", sans-serif;
$secondary-font: "Outfit", sans-serif;


// Paleta Forest
$color-primary:   #c3c5a2; // verde claro
$color-secondary: #6a745f; // verde bosque
$color-accent:    #543034; // borgoña oscuro
$color-light:     #e0dae4; // gris lavanda
$color-detail:    #5e0f36; // detalle rojo/morado
$color-link:      #2e549b; // azul link

$black: black;

// Tipografía
$font-size-base:  1rem;
$font-size-sm:    0.9rem;
$font-size-md:    1.2rem;
$font-size-lg:    2rem;


// Breakpoints //
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
