@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;


.footer_ej {
    left: 0; right: 0; bottom: 0;
    position: fixed;
    background: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);
    
}

.footer_button{
    padding: 1rem;
        border-radius: 10%;
        background-color: $color-primary;
        cursor: pointer;
        &:hover{
            background-color: $color-light;
        }
}