@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;


.footer_ej {
    padding: 1rem;
    height: auto;
    background: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);
    display: flex;
    justify-content: left;
}

.footer_button{
    padding: 1rem;
        border-radius: 10%;
        background-color: $color-primary;
        cursor: pointer;
        &:hover{
            background-color: $color-light;
        }
}